doctype html
html(lang='en')
    include head.pug
    body(class style)
        div(class = "container")
            include header.pug
            br
            br
            br
            br
            form(action="/shop/order/topassport", method="post")
                div(class="form-outline mb-4")
                    input(type="text" id="postcode" class="form-control" name="postcode")
                    label(for="postcode" class="form-label") Postcode

                div(class="form-outline mb-4")
                    input(type="text" id="city" class="form-control" name="city")
                    label(for="city" class="form-label") City

                div(class="form-outline mb-4")
                    input(type="text" id="street" class="form-control" name="street")
                    label(for="street" class="form-label") Street

                div(class="form-outline mb-4")
                    input(type="text" id="houseNr" class="form-control" name="houseNr")
                    label(for="houseNr" class="form-label") House Nr

                div(class="form-outline mb-4")
                    input(type="text" id="houseAddition" class="form-control" name="houseAddition")
                    label(for="houseAddition" class="form-label") House Add

                div(class="form-outline mb-4")
                    input(type="text" id="flatNr" class="form-control" name="flatNr")
                    label(for="flatNr" class="form-label") Flat Nr

                
    
                button(id = 'weiter' class="btn btn-primary" type = 'submit')  Zum Ausweiss

            script. 
                document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
                });