doctype html
html(lang='en')
    include head.pug

    - const wholeResponse = responseJson;
    - const tariff = wholeResponse.orderConfigurationItemsView.tariffInOfferView;
    - const device = wholeResponse.orderConfigurationItemsView.deviceInOfferView;
    - const options = wholeResponse.orderConfigurationItemsView.optionViews;

    h1 Warenkorb 
    form(action="/shop/order/personaldata", method="get")
        div#tariff 
       
            div tariff id: #{tariff.tariffId}
            div tariff name: #{tariff.tariffName}
            div tariff monthly price: #{tariff.monthlyPrice}
                
        div#device
            
            div device id: #{device.deviceId}
            div device name: #{device.name}
            div device price: #{device.priceWithTariff}
                    
        div#options
            ul
                each option in options
                    div option name: #{option.name}
                    div option price: #{option.price}
                
        button(id = 'next' type = 'submit')  To personal data
        
           
    ul
        li
            a(href='/') Home



