doctype html
html(lang='en')
    include head.pug
    - const values = responseJson;
    
    body
        include header.pug
        section#deviceWrapper
            br
            br
            br
            div(id="devices" class="row my-4 px-5")
                div(class="row")
                    div(class="text-center col-12 py-2")
                        h4
                            strong Devices
            hr

            div(class="row g-4")
                each value in values
                    - var imgLink = value.imageURL
                    div(class="col-lg-4 col-md-6")
                        div(class="card" style="width: 20rem;")
                            div(class="bg-image hover-zoom")
                                img(class="img-fluid" style="width:320px;height:380px;" src=imgLink)
                            div(class="card-body")
                                h5(class="card-title") #{value.brand} #{value.model}
                                ul(class="list-group list-group-flush")
                                    li(class="list-group-item") 
                                        strong Price: 
                                        | #{value.soloPrice} EUR
                                    li(class="list-group-item")
                                button(type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target=('#modal-device-' + value.deviceId)) More info

                
                    div(class="modal fade" id=('modal-device-' + value.deviceId) tabindex="-1")
                        div(class="modal-dialog")
                            div(class="modal-content")
                                div(class="modal-header")
                                    h5(class="modal-title" id="exampleModalLabel") #{value.brand} #{value.model}
                                    button(type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close")
              
                                div(class="modal-body")
                                    p #{value.description}
                                    
                                    div(class="row")
                                        div(class="col-6")
                                            strong Price:
                                        div(class="col-6") #{value.soloPrice} EUR
                                    div(class="modal-footer")
                                        form(method='get', action='/shop/tariffs/bydevice/' + value.deviceId)
                                            button(type="submit" class="btn btn-primary") Add to Shopping-Cart


       






