div(class="row my-4 px-5")
    div(class="row")
        div(class="text-center col-12 py-2")
            h4
                strong Something went wrong
hr
div(class="d-grid gap-2 col-6 mx-auto")
    p #{wholeResponse.customError}
    a(class="btn btn-primary" href="/shop/" role="button") Go to start page
