head
  title Mobile shop
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap' rel="stylesheet")
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css' rel="stylesheet")
  style 
    include ../public/stylesheets/tariffs-modal.css
  script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js')