nav(class = 'navbar navbar-expand-lg navbar-light bg-light fixed-top')
    div(class = 'container-fluid')
        button(class = 'navbar-toggler' type = 'button' data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            i(class = 'fas fa-bars')
        
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            

            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                li(class="nav-item")
                    a(class="nav-link" href="/shop/devices") Devices
                li(class="nav-item")
                    a(class="nav-link" href="/shop/tariffs") Tariffs
