doctype html
html(lang='en')
    include head.pug

    - const wholeResponse = responseJson;


    body(class style)
        div #{wholeResponse}
        div(class = "container")
            include header.pug
            br
            br
            br
            br

            if wholeResponse.orderState 
                div(id="state") #{wholeResponse.orderState}
            if wholeResponse.orderNumber  != 0
                div(id="orderNumber") #{wholeResponse.orderNumber}
            if wholeResponse.eCareNumber != 0 
                div(id="eCareNumber") #{wholeResponse.eCareNumber}
            if wholeResponse.details 
                div(id="details") #{wholeResponse.details}