doctype html
html(lang='en')
    include head.pug
    - const wholeResponse = responseJson;
    - const tariff = wholeResponse.orderConfigurationItemsView.tariffInOfferView;
    - const device = wholeResponse.orderConfigurationItemsView.deviceInOfferView;
    - const options = wholeResponse.orderConfigurationItemsView.optionViews;
    - const address = wholeResponse.orderAddressView;
    - const personalData = wholeResponse.personalDataView;
    - const passportData = wholeResponse.passportDataView;


    if wholeResponse.customError != null
        body
            include header.pug
            br
            br
            br
            h1 #{wholeResponse.customError}
            include error_body.pug

    else
        body(class style)
            div(class = "container")
                include header.pug
                section#title
                    br
                    br
                    br
                    div(class="row my-4 px-5")
                        div(class="row")
                            div(class="text-center col-12 py-2")
                                h4
                                    strong Your order:
                    hr

                section#device
                    div(id = "device")
                        - const imgLink = device.imageURI
                        h5(class="card-title") Selected device
                        div(class="row")
                            div(class="col-md-4")
                                img(src = imgLink alt = name class="img-fluid rounded-start" style="width:160px;height:190px;")
                            div(class="col-md-8")
                                dl(class="row")
                                
                                    dt(class="col-sm-3") Name
                                    dd(class="col-sm-9") #{device.brand} #{device.model}
                                    dt(class="col-sm-3") Price
                                    dd(class="col-sm-9") #{device.priceWithTariff} EUR
                                    dt(class="col-sm-3") Description
                                    dd(class="col-sm-9") #{device.description}
                hr

                section#tariff
                    div(id = "tariff")
                        h5(class="card-title") Selected tariff
                        dl(class = "row")
                            dt(class="col-sm-3") Name
                            dd(class="col-sm-9") #{tariff.tariffName}
                            dt(class="col-sm-3") Montly price
                            dd(class="col-sm-9") #{tariff.monthlyPrice} EUR
                            dt(class="col-sm-3") Data volume
                            dd(class="col-sm-9") #{tariff.dataVolume}
                            dt(class="col-sm-3") Desription
                            dd(class="col-sm-9") #{tariff.tariffDescription}

                hr

                section#options
                    div(id = "options")
                        h5(class="card-title") Selected options
                        each option in options
                            - let optionString = JSON.stringify(option);
                            //div #{option}
                            dt(class="col-sm-3") Name
                            dd(class="col-sm-9") #{option.name}
                            dt(class="col-sm-3") Price
                            dd(class="col-sm-9") #{option.price} EUR
                hr

                section#personal_data
                    div(id = "personal_data")
                        h5(class="card-title") Personal Data
                         dl(class = "row")
                            dt(class="col-sm-3") Name
                            dd(class="col-sm-9") #{personalData.firstName} #{personalData.lastName}
                            dt(class="col-sm-3") Birthday
                            dd(class="col-sm-9") #{personalData.birthday} 
                            dt(class="col-sm-3") Gender
                            dd(class="col-sm-9") #{personalData.gender}

                hr

                section#address_data
                    div(id = "address_data")
                        h5(class="card-title") Address Data
                         dl(class = "row")
                            dt(class="col-sm-3") Postcode, city
                            dd(class="col-sm-9") #{address.postcode} #{address.city}
                            dt(class="col-sm-3") Street, house nr
                            dd(class="col-sm-9") #{address.street} #{address.houseNr} #{address.houseAddition} 
                            dt(class="col-sm-3") Flat
                            dd(class="col-sm-9") #{address.flatNr}

                hr

                section#passport_data
                    div(id = "passport_data")
                        h5(class="card-title") Passport data
                         dl(class = "row")
                            dt(class="col-sm-3") Document type
                            dd(class="col-sm-9") #{passportData.passportTypeName}
                            dt(class="col-sm-3") Document number
                            dd(class="col-sm-9") #{passportData.passportNumber}
                            dt(class="col-sm-3") Issue date
                            dd(class="col-sm-9") #{passportData.issueDate}
                


                form(action="/shop/order/tofinal", method="post")
                    div(class = "container")
                        div(class="form-check")
                            input(class="form-check-input" type="checkbox" name ="confirmation" value="true" id="confirmation")
                            label(class="form-check-label" for="confirmation") I agree to terms and conditions

                    button(id = 'submit_btn' class="btn btn-primary" type = 'submit') Buy the order
    
