doctype html
html(lang='en')
    include head.pug
    - const wholeResponse = responseJson;
    - const tariff = wholeResponse.tariffInOfferView;
    - const device = wholeResponse.deviceInOfferView;
    - const compatibleOptionsWithoutGroups = wholeResponse.compatibleOptionsWithoutGroups;
    - const groupsWithCompatibleOptions = wholeResponse.compatibleOptionsInGroups;

    if wholeResponse.customError != null
        body
            include header.pug
            br
            br
            br
            h1 #{wholeResponse.customError}
            include error_body.pug

    else
        body(class style)
            div(class = "container")
                include header.pug
                section#orderConfiguration
                    br
                    br
                    br
                    div(id="tariffs" class="row my-4 px-5")
                        div(class="row")
                            div(class="text-center col-12 py-2")
                                h4
                                    strong Configure your order
                    hr
                form(action="/shop/order/basket", method="post")
                    input(type = 'hidden' name = 'offerID' value= wholeResponse.offerId)

                    div(id = "device_configuration")
                        - const imgLink = device.imageURI
                        h5(class="card-title") Selected device
                        div(class="row")
                            div(class="col-md-4")
                                img(src = imgLink alt = name class="img-fluid rounded-start" style="width:160px;height:190px;")
                            div(class="col-md-8")
                                dl(class="row")
                                
                                    dt(class="col-sm-3") Name
                                    dd(class="col-sm-9") #{device.brand} #{device.model}
                                    dt(class="col-sm-3") Price
                                    dd(class="col-sm-9") #{device.priceWithTariff} EUR
                                    dt(class="col-sm-3") Description
                                    dd(class="col-sm-9") #{device.description}
                                a(href = "/shop/device_catalog") Select different device
                        input(type = 'hidden' name = 'deviceID' value= device.deviceId)
                    hr

                    div(id = "tariff_configuration")
                        h5(class="card-title") Selected tariff
                        dl(class = "row")
                            dt(class="col-sm-3") Name
                            dd(class="col-sm-9") #{tariff.tariffName}
                            dt(class="col-sm-3") Montly price
                            dd(class="col-sm-9") #{tariff.monthlyPrice} EUR
                            dt(class="col-sm-3") Data volume
                            dd(class="col-sm-9") #{tariff.dataVolume}
                            dt(class="col-sm-3") Desription
                            dd(class="col-sm-9") #{tariff.tariffDescription}

                        a(href = "/shop/tariffs" class = "card-link") Select different tariff
                        input(type = 'hidden' name = 'tariffID' value= tariff.tariffId)

                    hr

                    div(id = "simple_options_configuration")
                        if compatibleOptionsWithoutGroups.length > 0
                            div(class="d-grid gap-3" id ="noGroupOptions")
                                h5 Available options without groups:
                                each option in compatibleOptionsWithoutGroups
                                    div(class = "container")
                                        div(class="row")
                                            div(class="col-md-8")
                                                p #{option.name} #{option.price} EUR
                                    
                                            div(class="col-md-4")
                                                input(type='checkbox' checked=false   class="btn-check" id = ('option-checkbox-' + option.id) name = ('option-'+option.id) value = option.id) 
                                                label(class="btn btn-primary" for=('option-checkbox-' + option.id)) Add
                                    
                    hr

                    div(id = "group_options_configuration")
                        if groupsWithCompatibleOptions.length > 0
                            div(class="d-grid gap-3" id ="optionGroups")
                                h5 Available option groups:
                                each group in groupsWithCompatibleOptions
                                    - var optionsInGroup = group.options
                                    div(id = ('option-group-' + group.groupId))
                                        div(class="row")
                                            div(class="col-md-4")
                                                p Option group #{group.groupName}
                                            div(class="col-md-4")
                                                if group.groupType == 'ALTERNATIVE_GROUP'
                                                    each groupOption in optionsInGroup
                                                        div(class="form-check")
                                                            input(type="radio" class="form-check-input" name=('option-' + group.groupId) id=('option-radio-' + groupOption.id) value = groupOption.id autocomplete="off" checked=false)
                                                            label(class="form-check-label" for=('option-radio-' + groupOption.id)) #{groupOption.name} #{groupOption.price}


                                                if group.groupType == 'SELECTION_GROUP'
                                                    each groupOption in optionsInGroup
                                                    

                                                        div(class = "container")
                                                            div(class="row")
                                                                div(class="col-md-8")
                                                                    p #{groupOption.name} #{groupOption.price} EUR

                                                                div(class="col-md-4")
                                                                    input(type='checkbox' checked=false   class="btn-check" id = ('option-checkbox-' + groupOption.id) name = ('option-'+groupOption.id) value = groupOption.id) 
                                                                    label(class="btn btn-primary" for=('option-checkbox-' + groupOption.id) id = ('option-label-' + groupOption.id)) Add
                                                                
                                                                
                                    
                    button(id = 'toBasket' class="btn btn-primary" type = 'submit')  Zum Warenkorb