doctype html
html(lang='en')
    include head.pug

    - const passportTypes1 = passportTypes;
    - const wholeResponse = responseJson;
    - const stringify = JSON.stringify(passportTypes);
    - const stringify1 = JSON.stringify(passportTypes1);
    - const wholeResponseStringify = JSON.stringify(wholeResponse);
    


    body(class style)
        div(class = "container")
            include header.pug
            br
            br
            br
            br

            form(action="/shop/order/toconfirmation", method="post")

                
                select(class="form-select" name='typeID', id='typeID')
                    each val in passportTypes1
                        option(value=val.typeID) #{val.displayName}


                div(class="form-outline mb-4")
                    input(type="text" id="passportNumber" class="form-control" name="passportNumber")
                    label(for="passportNumber" class="form-label") Passport Number

                div(class="form-outline mb-4")
                    input(type="text" id="issueDate" class="form-control" name="issueDate")
                    label(for="issueDate" class="form-label") Issue date

                
                
    
                button(id = 'weiter' class="btn btn-primary" type = 'submit')  Weiter

            script. 
                document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
                });