doctype html
html(lang='en')
    include head.pug
    body(class style)
        div(class = "container")
            include header.pug
            br
            br
            br
            br
            form(action="/shop/order/toaddress", method="post")
                div(class="form-outline mb-4")
                    input(type="text" id="firstName" class="form-control" name="firstName")
                    label(for="firstName" class="form-label") First name

                div(class="form-outline mb-4")
                    input(type="text" id="lastName" class="form-control" name="lastName")
                    label(for="lastName" class="form-label") Last name

                div(class="form-outline mb-4")
                    input(type="text" id="birthday" class="form-control" name="birthday")
                    label(for="birthday" class="form-label") Birthday

                div(class="form-check")
                    input(type="radio" class="form-check-input" name="gender" id="femaleButton" value = "F" checked=false)
                    label(class="form-check-label" for="femaleButton") Female
                
                div(class="form-check")
                    input(type="radio" class="form-check-input" name="gender" id="maleButton" value = "M" checked=false)
                    label(class="form-check-label" for="maleButton") Male
    
                button(id = 'weiter' class="btn btn-primary" type = 'submit')  Zur Addresse

            script. 
                document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
                });