doctype html
html(lang='en')
    include head.pug
    body(class style)
            div(class = "container")
                include header.pug
                br
                br
                br
                h3 this will be a start page!