doctype html
html(lang='en')
    include head.pug

    - const wholeResponse = responseJson;
    - const values = responseJson.tariffInOfferViewList;


    body
        include header.pug
        section#tariffWrapper
            br
            br
            br
            div(id="tariffs" class="row my-4 px-5")
                div(class="row")
                    div(class="text-center col-12 py-2")
                        h4
                            strong Selected device: 
                            | #{wholeResponse.devicePlainView.brand} #{wholeResponse.devicePlainView.model}
            hr

            div(class="row g-4")
                if values.length > 0
                    each value in values
                
                        div(class="col-lg-4 col-md-6")
                            div(class="card" style="width: 20rem;")
                                div(class="card-body")
                                    h5(class="card-title") #{value.tariffName}
                                    ul(class="list-group list-group-flush")
                                        li(class="list-group-item") 
                                            strong Data volume: 
                                            | #{value.dataVolume}
                                        li(class="list-group-item")
                                            strong Price: 
                                            | #{value.monthlyPrice}
                                        li(class="list-group-item")
                                    button(type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target=('#modal-tariff-' + value.tariffId)) More info

                
                        div(class="modal fade" id=('modal-tariff-' + value.tariffId) tabindex="-1")
                            div(class="modal-dialog")
                                div(class="modal-content")
                                    div(class="modal-header")
                                        h5(class="modal-title" id="exampleModalLabel") #{value.tariffName}
                                        button(type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close")
              
                                    div(class="modal-body")
                                        p #{value.tariffDescription}
                                        div(class="row")
                                            div(class="col-6")
                                                strong Included data volume:
                                            div(class="col-6") #{value.dataVolume}

                                        div(class="row")
                                            div(class="col-6")
                                                strong Price:
                                            div(class="col-6") #{value.monthlyPrice}
                                        div(class="modal-footer")
                                            form(method='get', action='/shop/order/configuration/' + value.offerId)
                                                button(type="submit" class="btn btn-primary") Add to Shopping-Cart

                else
                    p(class="note note-warning")
                        strong Sorry! 
                        | There are no compatible tariffs for selected device





