button[id^="button-select-"], button[id*="button-select-"] {
    color: magenta;
  }

button[id^="button-select-"], button[id*="button-select--"]:hover {
    color: darkmagenta;
    cursor: pointer;
  }

button[id^="modal-btn-"], button[id*="modal-btn-"]:hover {
    color: darkgray;
    cursor: pointer;
  }

div[class^="modal--"], div[class*="modal--"] {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }

  div[class^="modal-content-"], div[class*="modal-content-"] {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 75%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  span[class^="close-btn-"], div[class*="close-btn-"] {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
  }
  span[class^="close-btn-"], div[class*="close-btn-"]:hover {
    color: darkgray;
    cursor: pointer;
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }